<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">dnd-webapp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill h4" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="encounter">
                <span class="bi bi-shield-fill h4" aria-hidden="true"></span> Encounters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="character">
                <span class="bi bi-person-circle h4" aria-hidden="true"></span> Player Characters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="bi bi-shop h4" aria-hidden="true"></span> Item Shop
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="npc">
                <span class="bi bi-person-standing h4" aria-hidden="true"></span> NPCs and Enemies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="world">
                <span class="bi bi-globe-asia-australia h4" aria-hidden="true"></span> World
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
